services:
  code:
    image: lscr.io/linuxserver/code-server:4.101.1
    labels:
      - "recreate-tag=123456dderdd44rtdedre8der4rerdd6ededrdfgfefdg5rertddgregeftyteFrd4eeyd3eee3er4egee3edddeeedddd7eedfeddd4dsddder37re89544"
    environment:
      FILE__HASHED_PASSWORD: /config/.codestrap/password.hash
      DOCKER_MODS: linuxserver/mods:universal-package-install
      INSTALL_PACKAGES: argon2 jq #curl git python3-venv
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Etc/UTC}

      # Optional: initial password (one-time)
      DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}

      # Env-driven bootstrap on first boot (if BOTH are set):
      GITHUB_USERNAME: ${GITHUB_USERNAME}
      GITHUB_TOKEN: ${GITHUB_PAT}

      # Optional identity + clone behavior
      GIT_NAME: ${GIT_NAME}
      GIT_EMAIL: ${GIT_EMAIL}
      GITHUB_REPOS: ${GITHUB_REPOS}
      GITHUB_PULL: ${PULL_EXISTING_REPOS}
      EXTENSIONS_INSTALL: ${INSTALL_EXTENSIONS}
      EXTENSIONS_UNINSTALL: ${UNINSTALL_EXTENSIONS}
      REPOS_SUBDIR: ${REPOS_SUBDIR:-/repos}
      GITHUB_KEY_TITLE: ${GITHUB_KEY_TITLE:-codestrap-code-server SSH Key}

      WORKSPACE_DIR: ${WORKSPACE_DIR:-/config/workspace}
      PWA_APPNAME: ${PWA_APPNAME:-code-server}
      PROXY_DOMAIN: ${PROXY_DOMAIN}
    
    networks: [codestrap-network]

    volumes:
      - config:/config
      - workspace:/config/workspace
      - ./config:/config/codestrap/config:ro
      - ./extension:/config/codestrap/extension:ro
      - ./codestrap.sh:/custom-cont-init.d/10-codestrap.sh:ro
    expose:
      - "8443"
    ports:
      - ":8443"
    restart: always

  splash:
    labels:
      - "recreate-tag=123456ered45rdded4gdddgreheeeer6ded4ddtrddgfreydefferetrd4egtrtred3eFeggee8f3eyr4eee3edddeedddd7eedfeddd4dsddder37re89544"
    image: node:20-alpine
    command: ["node","/app/codestrap-proxy.js"]
    environment:
      PROXY_PORT: "8080"
      CODE_SERVICE_NAME: "code"
      CODE_EXPOSED_PORT: "8443"
    networks: [codestrap-network]
    volumes:
      - ./codestrap-proxy.js:/app/codestrap-proxy.js:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    expose:
      - "8080"
    ports:
      - ":8080"
    depends_on:
      - code
    restart: always

networks:
  codestrap-network: {}

volumes:
  config:
  workspace: