services:
  code:
    image: lscr.io/linuxserver/code-server:4.101.1
    labels:
      - "recreate-tag=12dd3f4u5f6fdfdfddegdgdddefdcddfddrdfddrdvvuyrdddddfdeedddddhdddddgddhvrdddddffdfddeddccddsddf ddddg7fdddddvdfd scdbddfdDdcdddddeddgfde4fd48rEdtyuydfedef dsre8ederd4frerdd6ededrdfgfefdg5rertddgregeftyteFrd4eeyd3eee3er4egee3edddeeedddd7eedfeddd4dsddder37re89544"
    environment:
      #FILE__HASHED_PASSWORD: /config/.codestrap/password.hash
      FILE__SUDO_PASSWORD_HASH: /config/.codestrap/sudo_password.hash
      DOCKER_MODS: linuxserver/mods:universal-package-install
      INSTALL_PACKAGES: argon2 jq yq openssl #curl git python3-venv
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Etc/UTC}

      # Optional: initial sudo password (one-time)
      DEFAULT_SUDO_PASSWORD: ${DEFAULT_SUDO_PASSWORD}

      # Optional: initial password (one-time)
      DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}

      WORKSPACE_DIR: ${WORKSPACE_DIR:-/config/workspace}
      PWA_APPNAME: ${PWA_APPNAME:-code-server}
      PROXY_DOMAIN: ${PROXY_DOMAIN}
    
    networks: [codestrap-network]

    volumes:
      - config:/config
      - workspace:/config/workspace
      - ./config:/config/codestrap/config:ro #make editable? maybe do via policies.yml file? so not ro here but if not editable in policies protect/ro by shell
      - ./extension:/config/codestrap/extension:ro
      - ./policies.yml:/config/.codestrap/policies.yml:ro
      - ./profiles:/config/codestrap/profiles:ro
      - ./codestrap.sh:/custom-cont-init.d/10-codestrap.sh:ro
    expose:
      - "8443"
    ports:
      - ":8443"
    restart: always

  splash:
    labels:
      - "recreate-tag=123456edereuddddd4e5dfdgdddddddrfgyddcfdfueddvrevffcdhrdddeddhdddgvddddddddddddfdrfffdddffddeddddcdd 8dddddgfcdbvsdDfddscddcddd dddyddddfdgfdded4Efedgu7dedydfgsdefrfdeheeeer6ded4ddtrddgfreydefferetrd4egtrtred3eFeggee8f3eyr4eee3edddeedddd7eedfeddd4dsddder37re89544"
    image: node:20-alpine
    command: ["node","/app/codestrap-proxy.js"]
    environment:
      PROXY_PORT: "8080"
      CODE_SERVICE_NAME: "code"
      CODE_EXPOSED_PORT: "8443"
    networks: [codestrap-network]
    volumes:
      - ./codestrap-proxy.js:/app/codestrap-proxy.js:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./profiles:/config/codestrap/profiles:ro
    expose:
      - "8080"
    ports:
      - ":8080"
    depends_on:
      - code
    restart: always

networks:
  codestrap-network: {}

volumes:
  config:
  workspace: