services:
  code:
    image: lscr.io/linuxserver/code-server:4.101.1
    environment:
      FILE__HASHED_PASSWORD: /config/.codestrap/password.hash
      DOCKER_MODS: linuxserver/mods:universal-package-install
      INSTALL_PACKAGES: argon2 jq #curl git python3-venv
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Etc/UTC}

      # Optional: initial password (one-time)
      DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}

      # Env-driven bootstrap on first boot (if BOTH are set):
      GITHUB_USERNAME: ${GITHUB_USERNAME}
      GITHUB_PAT: ${GITHUB_PAT}

      # Optional identity + clone behavior
      GITHUB_NAME: ${GITHUB_NAME}
      GITHUB_EMAIL: ${GITHUB_EMAIL}
      GITHUB_REPOS: ${GITHUB_REPOS}
      PULL_EXISTING_REPOS: ${PULL_EXISTING_REPOS}
      INSTALL_EXTENSIONS: ${INSTALL_EXTENSIONS}
      UNINSTALL_EXTENSIONS: ${UNINSTALL_EXTENSIONS}
      REPOS_SUBDIR: ${REPOS_SUBDIR:-/repos}
      GITHUB_KEY_TITLE: ${GITHUB_KEY_TITLE:-codestrap-code-server SSH Key}

      DEFAULT_WORKSPACE: ${DEFAULT_WORKSPACE:-/config/workspace}
      PWA_APPNAME: ${PWA_APPNAME:-code-server}
      PROXY_DOMAIN: ${PROXY_DOMAIN}
    
    networks:
      - dokploy-network

    labels:
      - traefik.enable=true
      - traefik.docker.network=dokploy-network

      - traefik.http.routers.codeserver.rule=Host(`michaeljnash.dev.meridianlogisticsgroup.com`)
      - traefik.http.routers.codeserver.entrypoints=web
      - traefik.http.routers.codeserver.tls=true
      - traefik.http.services.codeserver.loadbalancer.server.port=8443

      #- traefik.http.routers.codeserver-wv.rule=HostRegexp(`{sub:[a-z0-9-]+}.michaeljnash.dev.meridianlogisticsgroup.com`)
      #- traefik.http.routers.codeserver-wv.entrypoints=websecure
      #- traefik.http.routers.codeserver-wv.tls=true
      #- traefik.http.services.codeserver-wv.loadbalancer.server.port=8443

    volumes:
      - config:/config
      - workspace:/config/workspace
      - ./settings.json:/config/codestrap/settings.json:ro
      - ./keybindings.json:/config/codestrap/keybindings.json:ro
      - ./extensions.json:/config/codestrap/extensions.json:ro
      - ./tasks.json:/config/codestrap/tasks.json:ro
      - ./codestrap.sh:/custom-cont-init.d/10-codestrap.sh:ro
    #ports:
      #- ":8080"
      #- "8443:8443"
    expose:
      - "8443"
    #ports:
    #  - ":8443"
    restart: always

  splash:
    labels:
      - "recreate-tag=123456erd4re4d4eed3eee3er4eee3edddeedddd7eedfeddd4dsddder37re89544"
    image: node:20-alpine
    command: ["node","/app/codestrap-proxy.js"]
    environment:
      PROXY_PORT: "8080"
      CODE_SERVICE_NAME: "code"
      CODE_EXPOSED_PORT: "8443"
    networks:
      - dokploy-network
    volumes:
      - ./codestrap-proxy.js:/app/codestrap-proxy.js:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - ":8080"
    depends_on:
      - code
    restart: always

networks:
  dokploy-network:
    external: true

volumes:
  config:
  workspace: