services:
  code:
    image: lscr.io/linuxserver/code-server:4.101.1
    environment:
      FILE__HASHED_PASSWORD: /config/.codestrap/password.hash
      DOCKER_MODS: linuxserver/mods:universal-package-install
      INSTALL_PACKAGES: argon2 #jq curl git python3-venv
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Etc/UTC}

      # Optional: initial password (one-time)
      DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}

      # Env-driven bootstrap on first boot (if BOTH are set):
      GH_USERNAME: ${GH_USERNAME}
      GH_PAT: ${GH_PAT}

      # Optional identity + clone behavior
      GIT_NAME: ${GIT_NAME}
      GIT_EMAIL: ${GIT_EMAIL}
      GH_REPOS: ${GH_REPOS}
      PULL_EXISTING_REPOS: ${PULL_EXISTING_REPOS}
      WORKSPACE_DIR: ${GIT_BASE_DIR:-/config/workspace}
      REPOS_SUBDIR: ${GIT_BASE_DIR:-/repos}
      GH_KEY_TITLE: ${GH_KEY_TITLE:-codestrap-code-server SSH Key}

    volumes:
      - code-config:/config12345
      - code-config:/config
      - projects:/config/workspace
      - ./settings.json:/config/codestrap/settings.json:ro
      - ./keybindings.json:/config/codestrap/keybindings.json:ro
      - ./extensions.json:/config/codestrap/extensions.json:ro
      - ./codestrap.sh:/custom-cont-init.d/10-codestrap.sh:ro
    ports:
      - ":8443"
      #- "8443:8443"
    restart: always

volumes:
  code-config:
  projects:
